$primaryColor: #60a2de

.menuContainer
  width: 350px
  height: 100%
  display: flex
  flex-direction: row

.menuContainerClosed
  width: 10px
  height: 100%
  display: flex
  flex-direction: row

.menu
  width: 340px
  display: flex
  flex-direction: column

.menuBtnOpen
  width: 10px
  display: flex
  flex-direction: column
  background-color: #d4e1f1
  cursor: pointer
  justify-content: center

.header
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 20px
  height: 50px
  background-color: #60a2de
  cursor: pointer
  color: #fff

.itemHeader
  margin: 5px
  height: 40px
  padding: 0px 10px 0px 10px
  background-color: #f7f7f7
  display: flex
  flex-direction: row
  align-items: center
  border-radius: 2px
  cursor: pointer

.item
  margin: 10px
  padding: 5px
  display: flex
  flex-direction: row
  align-items: center
  border-radius: 2px
  cursor: pointer
  font-size: 14px

.itemSelected
  box-shadow: 0px 0px 0px 2px $primaryColor
  background-color: #ffefbb