.tableContainer
  width: 100%

.header
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 20px
  height: 50px
  background-color: #60a2de
  color: #fff

.header2
  display: flex
  flex-direction: row
  align-items: center
  padding-left: 20px
  height: 50px

.table
  color: grey
  padding: 20px
  width: 100%
  border-collapse: collapse
  font-size: 14px

.tableHeader
  box-shadow: 0px 2px 2px lightgrey

.th
  height: 40px
  text-align: left
  border: 1px solid lightgrey
  padding-left: 10px
  padding-right: 10px
  font-weight: 500

.tr
  border: 1px solid lightgrey

.td1
  padding: 10px
  border: 1px solid lightgrey
  text-align: right

.td
  padding: 10px

.tdGrey
  padding: 10px
  background-color: #f7f7f7