body
  margin: 0
  font-family: Arial
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.App
  //height: 100vh

.AppContainer
  height: 100vh
  display: flex
  flex-direction: row

.noselect
  user-select: none


